* {
    padding: 0;
    box-sizing: border-box;
}

body {    
    margin: 0;
    font-family: 'Varela Round', sans-serif;
    background: #d3d3d3;
}

/* ----- Estilos Generales ----- */

h1 {
    font-size: 2.8125em;
    color: #302f2f;
    text-transform: uppercase;
}

h2 {
    font-size: 1.875em; 
    color: #1C3869;
    padding-bottom: 7px;    
    border-bottom: 2px solid #EA003A;    
}

h3 {
    font-size: 1.5em;
    color: #0245A3;
}

h4 {
    font-size: 1.125em;
    color: #0245A3;
    margin-bottom: 7px;
}

p {
    letter-spacing: .25px;
    margin-top: 25px;
}

ul li{
    list-style: none;
}

span img {
    height: 25px;
    width: 25px;
    vertical-align: text-bottom;
} 

#cv {
    margin: auto;
    max-width: 1200px;
}

/* ----- Estilos del Perfil ----- */

.perfil {
    background: rgb(42, 74, 117);
    float: left;
    width: 305px;
    margin: 30px 0;
    box-shadow: 0px 15px 15px -10px #777;
    position: fixed;
}

.perfil ul {
    padding: 0;
    margin: 0;
}

.info {
    text-transform: uppercase;
    height: 60px;
}

.info button {
    border: none;
    height: 60px;
    width: 100%;
    text-align: right;
    background: #2A2F35;
    cursor: pointer;
    padding: 0px 25px;
    border-bottom: 1px solid #1E2227;
}

.info button:hover {
    background: #fff;
    transition: background-color .5s ease;
}

button {
    color: #7c7f83;
    font-size: 14px;
    letter-spacing: 0.75px;
}

button:hover {
    color: #7c7f83;
}

.info img {
    width: 28px;
    float: left;
}

.social-media {
    display: none;
}

a:-webkit-link {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

#foto-perfil {
    position: relative;
    width: 100%;
}

#social {
    background: #fff;
    padding-left: 55px;
}

#social img {
    width: 35px;
    height: 35px;
    margin: 15px 5px 10px;
}

/* ----- Estilos del Contenido ----- */

.contenido {
    float: right;
    width: 72.5%;
    margin: 30px 0;
}

.proyectos {
    overflow: auto;
    padding-left: 11.5%;
}

.proyectos img {
    width: 200px;
    height: 200px;
    float: left;
}

#presentacion li {
    padding: 8px 0;
    text-transform: uppercase;    
    border-bottom: 7px groove #a2c4f1;
}

#presentacion ul {
    margin-bottom: 25px;
    letter-spacing: 1.5px;
}

#presentacion,
#formacion,
#experiencia,
#portfolio,
#social-media {
    background: #fff;
    padding: 10px 40px 30px;
    box-shadow: 10px 10px 10px -5px #777;
}

#presentacion,
#formacion,
#experiencia,
#social-media {
    margin-bottom: 25px;
}

#portfolio {
    margin-bottom: 15px;
}

#social-media {
    display: none;
}

#social-media ul {
    margin-left: 100px;
}

#social-media img {    
    width: 60px;
    height: 60px;
}

#social-media li {
    display: inline;
    padding: 20px;
    margin-left: 35px;
}

/* ----- Media Queries ----- */

@media (max-width: 1200px) {
    
    #cv {
        margin: auto;
        max-width: initial;
    }
    /* ----- Perfil ----- */
    .perfil {
        position: initial;
        background: rgb(42, 74, 117);
        display: inherit;
        width: 100%;
        margin: 0;
        height: 152px;
        float: none;
        border-bottom: 5px solid rgb(13, 43, 84);
        box-shadow: none;
    }

    #foto-perfil {
        height: 152px;
        width: 127px;
        border-radius: 5%;
        border: 5px solid rgb(13, 43, 84);
        margin: 0 44%;
    }
    
    .info {
        width: 20%;
        margin: -2px;
    }
    
    .info img {
        display: none;
    }

    .info button {
        text-align: center;
    }

    .perfil ul {
        margin: 2px -5px;
    }

    #social {
        display: none;
    }
    
    /* ----- Contenido ----- */

    .contenido {
        width: 90%;
        margin-right: 5%;
        margin-top: 100px;
    }

    .proyectos {
        padding: 0 16%;
    }
    
    .perfil li {
        display: inline-block;
    }

    #social-media {
        display: inherit;
    }

    #social-media ul {
        margin: 5% 16% 3%;
    }

}

@media (max-width: 1090px) {

    .proyectos {
        padding: 0 13%;
    }

    #social-media ul {
        margin: 5% 13%;
    }

}

@media (max-width: 1020px) {

    .proyectos {
        padding: 0 15%;
    }
    
    .proyectos img {
        width: 180px;
        height: 180px;
    }

    #social-media ul {
        margin: 5% 12.5%;
    }

}


@media (max-width: 965px) {

    .proyectos {
        padding: 0 12%;
    }

    #social-media ul {
        margin: 5% 9%;
    }

}

@media (max-width: 940px) {

    .proyectos img {
        width: 170px;
        height: 170px;
    }    

    #social-media ul {
        margin: 5%;
    }

    #foto-perfil {
        margin: 0 50% 0 42.5%;
    }
    
    .info img {
        display: inherit;
    }

    .info strong {
        display: none;
    }

    .info button {
        padding-left: 42%;
    }

}

@media (max-width: 860px) {

    .proyectos {
        padding: 0 8%;
    }   

    #foto-perfil {
        margin: 0 42%;
    }
    
}

@media (max-width: 790px) {

    #foto-perfil {
        margin: 0 40.5%;
    }

    .proyectos {
        padding: 0 3%;
    }

    #social-media ul {
        margin: 8% 0% 5%;
    }

}

@media (max-width: 710px) {

    .proyectos {
        padding-left: 2%;
    }        

    .proyectos img {
        width: 155px;
        height: 155px;
    }

    #foto-perfil {
        margin: 0 41%;
    }

    #social-media li {
        margin-left: 6%;
    }

    #social-media ul {
        margin: 6% -7%;
    }

}

@media (max-width: 650px) {

    .info button {
        padding-left: 35%;
    }
    
    .proyectos {
        padding: 0;
    }    

    #foto-perfil {
        margin: 0 39%;
    }

    #social-media ul {
        margin-left: -2%;
    }

    #social-media li {
        margin-left: 2%;
    }

}

@media (max-width: 625px) {

    #foto-perfil {
        margin: 0 39%;
    }

    .proyectos img {
        width: 145px;
        height: 145px;
    }

    .proyectos {
        padding: 0;
    }

}

@media (max-width: 600px) {

    #foto-perfil {
        margin: 0 38%;
    }

    .proyectos {
        padding: 0 10%;
    }

    #social-media ul {
        margin-left: -2%;
    }    

    #social-media li {
        margin: 10%;
    }

    #social-media img {
        width: 70px;
        height: 70px;
        margin-top: 3%;
    }

}

@media (max-width: 515px) {

    .proyectos {
        padding: 0 8%;
    }

    #foto-perfil {
        margin: 0 36%;
    }

    #social-media ul {
        margin-left: -2%;
    }    

    #social-media li {
        margin: 10%;
    }

    #social-media img {
        width: 70px;
        height: 70px;
        margin-top: 3%;
    }

}

@media (max-width: 490px) {

    .proyectos {
        padding: 0px 15%;
    }

    .proyectos img {
        width: 200px;
        height: 200px;
    }

    #foto-perfil {
        margin: 0 35%;
    }

    #social-media ul {
        margin-left: 0;
    }    

    #social-media li {
        margin: 7%;
    }

    #social-media img {
        width: 70px;
        height: 70px;
        margin-top: 3%;
    }

}

@media (max-width: 425px) {
    
    .proyectos {
        padding: 0px 10%;
    }

    #foto-perfil {
        margin: 0 33%;
    }

    #social-media li {
        margin: 4%;
    }

}