* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Varela Round', sans-serif;
    background: #dadee9;
    /* box-sizing: border-box; */
}

h1 {
    font-size: 45px;
    color: #302f2f;
    text-transform: uppercase;    
    margin-top: 30px;
}

h2 {
    font-size: 30px;
    color: #0245A3;
    padding-bottom: 7px;    
    border-bottom: 2px solid #0245A3;
}

h3 {
    font-size: 24px;
    color: #0245A3;
    margin: 15px 0 20px 0;    
}

h4 {
    font-size: 18px;
    color: #0245A3;
    margin: 25px 0 5px;
}

p {
    margin: 20px 0;
}

ul li{
    list-style: none;
}

.presentacion,
.formacion,
.experiencia,
.portfolio {
    background: #fff;
    margin: 15px 60px 0 ;
    padding: 40px;
    border-bottom: 1.5px solid #dfe2e6;
}

.portfolio {
    margin-bottom: 15px;
}

.presentacion ul li{
    padding: 8px 0;
    text-transform: uppercase;    
    border-bottom: 1px dashed #1a7783;
}

.proyectos:after {
    content: "";
    display: table;
    clear: both;
}

.proyectos img {
    width: 200px;
    height: 200px;
    float: left;
}